{% extends 'base.html.twig' %}
{% block title %} Programs of the category
{% endblock %}

{% block body %}
    {% if programs %}
        <h1 class="my-5">Les séries de la catégorie :
        {% for program in programs %}
            <div class="py-5">
                <h2>Série {{ program.id }} : {{ program.title }} </h2>
                <p>{{ program.summary }}</p>

                <a ref="{{ path("program_show", { program_slug: programs.slug }) }}">Voir la fiche</a>
            </div>
        {% else %}
            Aucune série trouvée.
        {% endfor %}
    {% endif %}

    <a href="{{ path('category_index') }}">
        Retour à la liste des catégories
    </a>

{% endblock %}