{% extends 'base.html.twig' %}

{% block title %}Season index{% endblock %}

{% block body %}
 <div class="container mt-5">
        <h1 class="my-5">List of seasons of the program </h1>

       <table class="table table-bordered border-success table-hover">
         <thead>
            <tr>
                <th>Program title</th>
                <th>Number</th>
                <th>Year</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for season in seasons %}
            <tr>
                <td>{{ program.title }}</td>
                <td>{{ season.number }}</td>
                <td>{{ season.year }}</td>
                <td>{{ season.description }}</td>
                <td>
                    <a class="btn bg-success text-light" href="{{ path('season_show', {'id': season.id}) }}">show</a>
                    <a class="btn bg-success text-light mt-3" href="{{ path('season_edit', {'id': season.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn bg-success text-light mt-3" href="{{ path('season_new') }}">Create new</a>
</div>
{% endblock %}
