{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Wild Séries | 
		Serie

	{{ program.title }}
	Episode
	{{ episode.number }}
{% endblock %}

{% block stylesheets %}

	{{ parent() }}
{% endblock %}

{% block body %}

	<div class="container">
		<div class="row">
			<div class="col col-md-6 col-lg-4 mt-5">
				<img class="align-self-start  w-100 mt-5 p-5" src="{{program.poster}}" alt="{{ program.title }} poster">
			</div>
			<div class="col col-md-6 col-lg-8 mt-5">

				<h1 class="mt-5">{{program.title}} </h1>
				<h2 class="text-success"> Season {{ season.number }} 
				| Episode {{ episode.number }}: {{ episode.title }}</h2>
				<p>
					<span class="fw-bold">Description:
					</span>
					{{ season.description }}</p>
				<p class="mb-5">
					<span class="fw-bold">Synopsis:</span>
					{{episode.synopsis}}</p>
			</div>

			<a class="w-25 text-success"href="{{ path('program_index') }}">
			Back to the program list
			</a>
		</div>	
		<div class="row mt-5">
			<div class="col-md-6">
				{% if app.user %}
				{{ form_start(form) }}
				
					{{ form_widget(form) }}
						
					<input class="btn bg-success text-light mt-3" type='submit' value='Add comment'>
				{{ form_end(form) }}
				{% endif %}
			</div>
			<div class="col-md-6">
				{% for comment in episode.comments | reverse %}
				
					<p class="my-3"><span class="fw-bold">Comment No {{ comment.id }}</span> posted by <span class="fst-italic text-success">{{ comment.user.username }}</span> </p>
					<ul>	
						<li>Content: {{ comment.comment }} </li>
						<li>Rate : {{ comment.rate }} </li>
					</ul>			
				{% endfor %}
			</div>	
		</div>
	</div>

{% endblock %}