{% extends 'base.html.twig' %}


{% block title %}All programs{% endblock %}


{% block body %}

    <h1 class="my-5">Toutes les séries : </h1>

    {% for program in programs %}

      <div>

         <h2 class="text-success mt-3">{{ loop.index }} / {{ program.title }} - Catégorie : {{ program.category.name }}</h2>
         <p>{{ program.summary }}</p>
         {# Lien vers la fiche de la série : #}
        <a class="text-dark fw-bold" href="{{ path("program_show", { "program_slug": program.slug }) }}">Voir la fiche</a>
      </div>
    {% endfor %}

 

{% endblock %}
